# 1. Write a python program to display all the header tags from wikipedia.org and make data frame.

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [318]:
soup = BeautifulSoup(page.content)
headers = []
for i in soup.find_all('span',class_="mw-headline"):
    headers.append(i.text)

headers

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [319]:
df = pd.DataFrame({'Headers':headers})
df

                         Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# 2. Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [52]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

page1 = requests.get('https://www.imdb.com/list/ls055386972/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
page1

In [77]:
soup = BeautifulSoup(page1.content)
name = []
for i in soup.find_all('h3',class_="lister-item-header"):
    name.append(i.text)
name

['\n1.\nThe Shawshank Redemption\n(1994)\n',
 '\n2.\nThe Godfather\n(1972)\n',
 '\n3.\nThe Dark Knight\n(2008)\n',
 "\n4.\nSchindler's List\n(1993)\n",
 '\n5.\n12 Angry Men\n(1957)\n',
 '\n6.\nIl buono, il brutto, il cattivo\n(1966)\n',
 '\n7.\nThe Green Mile\n(1999)\n',
 '\n8.\nTerminator 2: Judgment Day\n(1991)\n',
 '\n9.\nSaving Private Ryan\n(1998)\n',
 '\n10.\nLa vita è bella\n(1997)\n',
 '\n11.\nShichinin no samurai\n(1954)\n',
 "\n12.\nIt's a Wonderful Life\n(1946)\n",
 '\n13.\nAlien\n(1979)\n',
 '\n14.\nGladiator\n(2000)\n',
 '\n15.\nBack to the Future\n(1985)\n',
 '\n16.\nLéon\n(1994)\n',
 '\n17.\nThe Pianist\n(2002)\n',
 '\n18.\nThe Intouchables\n(2011)\n',
 '\n19.\nThe Shining\n(1980)\n',
 '\n20.\nBraveheart\n(1995)\n',
 '\n21.\nRequiem for a Dream\n(2000)\n',
 '\n22.\nJodaeiye Nader az Simin\n(2011)\n',
 '\n23.\nJurassic Park\n(1993)\n',
 '\n24.\nKill Bill: Vol. 1\n(2003)\n',
 '\n25.\nThe Sixth Sense\n(1999)\n',
 '\n26.\nFinding Nemo\n(2003)\n',
 '\n27.\nA Beautiful Mind\n(2001)\n',
 '\n28.\nEl secreto de sus ojos\n(2009)\n',
 '\n29.\nBacheha-Ye aseman\n(1997)\n',
 '\n30.\nThe Exorcist\n(1973)\n',
 '\n31.\nGran Torino\n(2008)\n',
 '\n32.\nSalinui chueok\n(2003)\n',
 '\n33.\nBen-Hur\n(1959)\n',
 "\n34.\nHachi: A Dog's Tale\n(2009)\n",
 '\n35.\nThe Bridge on the River Kwai\n(1957)\n',
 '\n36.\nAmores perros\n(2000)\n',
 '\n37.\nNae meorisokui jiwoogae\n(2004)\n',
 '\n38.\nThe Pursuit of Happyness\n(2006)\n',
 '\n39.\nYeopgijeogin geunyeo\n(2001)\n',
 '\n40.\nOkuribito\n(2008)\n',
 '\n41.\nBom yeoreum gaeul gyeoul geurigo bom\n(2003)\n',
 '\n42.\nCentral do Brasil\n(1998)\n',
 '\n43.\nTitanic\n(1997)\n',
 '\n44.\nBin-jip\n(2004)\n',
 '\n45.\nVozvrashchenie\n(2003)\n',
 '\n46.\nApocalypto\n(2006)\n',
 '\n47.\nCast Away\n(2000)\n',
 '\n48.\nTaken\n(I) (2008)\n',
 '\n49.\nAng-ma-reul bo-at-da\n(2010)\n',
 '\n50.\nWo de fu qin mu qin\n(1999)\n']

In [78]:
movie_names = []
for movie in name:
    split_movie = movie.split("\n")
    movie_name = split_movie[2]
    movie_names.append(movie_name)

print(movie_names)

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', "Schindler's List", '12 Angry Men', 'Il buono, il brutto, il cattivo', 'The Green Mile', 'Terminator 2: Judgment Day', 'Saving Private Ryan', 'La vita è bella', 'Shichinin no samurai', "It's a Wonderful Life", 'Alien', 'Gladiator', 'Back to the Future', 'Léon', 'The Pianist', 'The Intouchables', 'The Shining', 'Braveheart', 'Requiem for a Dream', 'Jodaeiye Nader az Simin', 'Jurassic Park', 'Kill Bill: Vol. 1', 'The Sixth Sense', 'Finding Nemo', 'A Beautiful Mind', 'El secreto de sus ojos', 'Bacheha-Ye aseman', 'The Exorcist', 'Gran Torino', 'Salinui chueok', 'Ben-Hur', "Hachi: A Dog's Tale", 'The Bridge on the River Kwai', 'Amores perros', 'Nae meorisokui jiwoogae', 'The Pursuit of Happyness', 'Yeopgijeogin geunyeo', 'Okuribito', 'Bom yeoreum gaeul gyeoul geurigo bom', 'Central do Brasil', 'Titanic', 'Bin-jip', 'Vozvrashchenie', 'Apocalypto', 'Cast Away', 'Taken', 'Ang-ma-reul bo-at-da', 'Wo de fu qin mu qin']

In [394]:
rating = []
for i in soup.find_all('span',class_="ipl-rating-star__rating"):
    rating.append(i.text)

rating

['9.3',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '9.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '9',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '9',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '9',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.8',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.4',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.4',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.3',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.3',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.1',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '7.9',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '7.9',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 ...]

In [392]:
ratings = []
for i in range(0, len(rating), 23):
    ratings.append(rating[i])

ratings

['9.3', '9.2', '9', '9', '9', '8.8', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8', '8', '8', '8', '8', '7.9', '7.9', '7.9', '7.8', '7.8', '7.8', '7.8', '7.8']

50

In [22]:
year = []
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)

year

['(1994)',
 '(1972)',
 '(2008)',
 '(1993)',
 '(1957)',
 '(1966)',
 '(1999)',
 '(1991)',
 '(1998)',
 '(1997)',
 '(1954)',
 '(1946)',
 '(1979)',
 '(2000)',
 '(1985)',
 '(1994)',
 '(2002)',
 '(2011)',
 '(1980)',
 '(1995)',
 '(2000)',
 '(2011)',
 '(1993)',
 '(2003)',
 '(1999)',
 '(2003)',
 '(2001)',
 '(2009)',
 '(1997)',
 '(1973)',
 '(2008)',
 '(2003)',
 '(1959)',
 '(2009)',
 '(1957)',
 '(2000)',
 '(2004)',
 '(2006)',
 '(2001)',
 '(2008)',
 '(2003)',
 '(1998)',
 '(1997)',
 '(2004)',
 '(2003)',
 '(2006)',
 '(2000)',
 '(I) (2008)',
 '(2010)',
 '(1999)']

In [393]:
df1 = pd.DataFrame({'Movie Names':movie_names,#'Rating':ratings,'Year of Release':year})
df1

                                  Movie Names Rating Year of Release
0         Ramayana: The Legend of Prince Rama    9.3          (1994)
1                  Rocketry: The Nambi Effect    9.2          (1972)
2                                     Nayakan      9          (2008)
3                                    Gol Maal      9          (1993)
4                                 777 Charlie      9          (1957)
5                                  Anbe Sivam    8.8          (1966)
6                           Pariyerum Perumal    8.6          (1999)
7                                 Apur Sansar    8.6          (1991)
8                                    3 Idiots    8.6          (1998)
9                            Manichitrathazhu    8.6          (1997)
10                                   Jai Bhim    8.6          (1954)
11                                      #Home    8.6          (1946)
12                            Soorarai Pottru    8.5          (1979)
13                               Black Friday    8.5          (2000)
14                          Kumbalangi Nights    8.5          (1985)
15                          C/o Kancharapalem    8.5          (1994)
16                           Taare Zameen Par    8.5          (2002)
17                                   Kireedam    8.5          (2011)
18                                     Dangal    8.4          (1980)
19                                     Kaithi    8.4          (1995)
20                                     Jersey    8.3          (2000)
21                                         96    8.3          (2011)
22                                Maya Bazaar    8.2          (1993)
23                                  Natsamrat    8.2          (2003)
24                                 Drishyam 2    8.2          (1999)
25                                     Asuran    8.2          (2003)
26                                 Sita Ramam    8.2          (2001)
27                               Thevar Magan    8.2          (2009)
28                                 Visaaranai    8.2          (1997)
29                        Sarpatta Parambarai    8.1          (1973)
30                                 Thalapathi    8.1          (2008)
31                               Nadodikkattu    8.1          (2003)
32                            Pather Panchali    8.1          (1959)
33                                   Drishyam    8.1          (2009)
34                               Thani Oruvan    8.1          (1957)
35                         Jaane Bhi Do Yaaro    8.1          (2000)
36                               Vada Chennai    8.1          (2004)
37                                  Aparajito      8          (2006)
38                          Khosla Ka Ghosla!      8          (2001)
39                               Sardar Udham      8          (2008)
40                                    Anniyan      8          (2003)
41                                   Ratsasan      8          (1998)
42                              Chupke Chupke    7.9          (1997)
43                         Gangs of Wasseypur    7.9          (2004)
44                                   Drishyam    7.9          (2003)
45                                   Mahanati    7.8          (2006)
46                                    Peranbu    7.8          (2000)
47                             Bangalore Days    7.8      (I) (2008)
48                                     Premam    7.8          (2010)
49                                      Satya    7.8          (1999)

# 3. Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [88]:
page2 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page2

In [108]:
soup = BeautifulSoup(page2.content)
movie_name = []
for i in soup.find_all('td',class_="titleColumn"):
    movie_name.append(i.text)
mn = movie_name[:50]
mn

['\n      1.\n      Ramayana: The Legend of Prince Rama\n(1993)\n',
 '\n      2.\n      Rocketry: The Nambi Effect\n(2022)\n',
 '\n      3.\n      Nayakan\n(1987)\n',
 '\n      4.\n      Gol Maal\n(1979)\n',
 '\n      5.\n      777 Charlie\n(2022)\n',
 '\n      6.\n      Anbe Sivam\n(2003)\n',
 '\n      7.\n      Pariyerum Perumal\n(2018)\n',
 '\n      8.\n      Apur Sansar\n(1959)\n',
 '\n      9.\n      3 Idiots\n(2009)\n',
 '\n      10.\n      Manichitrathazhu\n(1993)\n',
 '\n      11.\n      Jai Bhim\n(2021)\n',
 '\n      12.\n      #Home\n(2021)\n',
 '\n      13.\n      Soorarai Pottru\n(2020)\n',
 '\n      14.\n      Black Friday\n(2004)\n',
 '\n      15.\n      Kumbalangi Nights\n(2019)\n',
 '\n      16.\n      C/o Kancharapalem\n(2018)\n',
 '\n      17.\n      Taare Zameen Par\n(2007)\n',
 '\n      18.\n      Kireedam\n(1989)\n',
 '\n      19.\n      Dangal\n(2016)\n',
 '\n      20.\n      Kaithi\n(2019)\n',
 '\n      21.\n      Jersey\n(2019)\n',
 '\n      22.\n      96\n(2018)\n',
 '\n      23.\n      Maya Bazaar\n(1957)\n',
 '\n      24.\n      Natsamrat\n(2016)\n',
 '\n      25.\n      Drishyam 2\n(2021)\n',
 '\n      26.\n      Asuran\n(2019)\n',
 '\n      27.\n      Sita Ramam\n(2022)\n',
 '\n      28.\n      Thevar Magan\n(1992)\n',
 '\n      29.\n      Visaaranai\n(2015)\n',
 '\n      30.\n      Sarpatta Parambarai\n(2021)\n',
 '\n      31.\n      Thalapathi\n(1991)\n',
 '\n      32.\n      Nadodikkattu\n(1987)\n',
 '\n      33.\n      Pather Panchali\n(1955)\n',
 '\n      34.\n      Drishyam\n(2013)\n',
 '\n      35.\n      Thani Oruvan\n(2015)\n',
 '\n      36.\n      Jaane Bhi Do Yaaro\n(1983)\n',
 '\n      37.\n      Vada Chennai\n(2018)\n',
 '\n      38.\n      Aparajito\n(1956)\n',
 '\n      39.\n      Khosla Ka Ghosla!\n(2006)\n',
 '\n      40.\n      Sardar Udham\n(2021)\n',
 '\n      41.\n      Anniyan\n(2005)\n',
 '\n      42.\n      Ratsasan\n(2018)\n',
 '\n      43.\n      Chupke Chupke\n(1975)\n',
 '\n      44.\n      Gangs of Wasseypur\n(2012)\n',
 '\n      45.\n      Drishyam\n(2015)\n',
 '\n      46.\n      Mahanati\n(2018)\n',
 '\n      47.\n      Peranbu\n(2018)\n',
 '\n      48.\n      Bangalore Days\n(2014)\n',
 '\n      49.\n      Premam\n(2015)\n',
 '\n      50.\n      Satya\n(1998)\n']

In [110]:
movie_names = []
for movie in mn:
    split_movie = movie.split("\n")
    movie_name = split_movie[2]
    movie_names.append(movie_name)

print(movie_names)

['      Ramayana: The Legend of Prince Rama', '      Rocketry: The Nambi Effect', '      Nayakan', '      Gol Maal', '      777 Charlie', '      Anbe Sivam', '      Pariyerum Perumal', '      Apur Sansar', '      3 Idiots', '      Manichitrathazhu', '      Jai Bhim', '      #Home', '      Soorarai Pottru', '      Black Friday', '      Kumbalangi Nights', '      C/o Kancharapalem', '      Taare Zameen Par', '      Kireedam', '      Dangal', '      Kaithi', '      Jersey', '      96', '      Maya Bazaar', '      Natsamrat', '      Drishyam 2', '      Asuran', '      Sita Ramam', '      Thevar Magan', '      Visaaranai', '      Sarpatta Parambarai', '      Thalapathi', '      Nadodikkattu', '      Pather Panchali', '      Drishyam', '      Thani Oruvan', '      Jaane Bhi Do Yaaro', '      Vada Chennai', '      Aparajito', '      Khosla Ka Ghosla!', '      Sardar Udham', '      Anniyan', '      Ratsasan', '      Chupke Chupke', '      Gangs of Wasseypur', '      Drishyam', '      Mahanati', '      Peranbu', '      Bangalore Days', '      Premam', '      Satya']

In [406]:
soup = BeautifulSoup(page2.content)
rate1 = []
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rate1.append(i.text)
rof = rate1[:50]
rof

['\n8.6\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n']

In [198]:
rates = []
for rating in rof:
    split_rate2 = rating.split("\n")
    rate2 = split_rate2[1]
    rates.append(rate2)

print(rates)

['8.6', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1']

In [403]:
year1 = []
for i in soup.find_all('span',class_="secondaryInfo"):
    year1.append(i.text)
yor = year1[:50]
yor

['(1993)',
 '(2022)',
 '(1987)',
 '(1979)',
 '(2022)',
 '(2003)',
 '(2018)',
 '(1959)',
 '(2009)',
 '(1993)',
 '(2021)',
 '(2021)',
 '(2020)',
 '(2004)',
 '(2019)',
 '(2018)',
 '(2007)',
 '(1989)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(1957)',
 '(2016)',
 '(2021)',
 '(2019)',
 '(2022)',
 '(1992)',
 '(2015)',
 '(2021)',
 '(1991)',
 '(1987)',
 '(1955)',
 '(2013)',
 '(2015)',
 '(1983)',
 '(2018)',
 '(1956)',
 '(2006)',
 '(2021)',
 '(2005)',
 '(2018)',
 '(1975)',
 '(2012)',
 '(2015)',
 '(2018)',
 '(2018)',
 '(2014)',
 '(2015)',
 '(1998)']

In [401]:
df2 = pd.DataFrame({'Indian Movie Names':movie_names,'Rating':rates,'Year of Release':yor})
df2

                           Indian Movie Names Rating Year of Release
0         Ramayana: The Legend of Prince Rama    8.6          (1993)
1                  Rocketry: The Nambi Effect    8.4          (2022)
2                                     Nayakan    8.4          (1987)
3                                    Gol Maal    8.4          (1979)
4                                 777 Charlie    8.4          (2022)
5                                  Anbe Sivam    8.4          (2003)
6                           Pariyerum Perumal    8.4          (2018)
7                                 Apur Sansar    8.4          (1959)
8                                    3 Idiots    8.4          (2009)
9                            Manichitrathazhu    8.3          (1993)
10                                   Jai Bhim    8.3          (2021)
11                                      #Home    8.3          (2021)
12                            Soorarai Pottru    8.3          (2020)
13                               Black Friday    8.3          (2004)
14                          Kumbalangi Nights    8.3          (2019)
15                          C/o Kancharapalem    8.3          (2018)
16                           Taare Zameen Par    8.3          (2007)
17                                   Kireedam    8.3          (1989)
18                                     Dangal    8.3          (2016)
19                                     Kaithi    8.3          (2019)
20                                     Jersey    8.3          (2019)
21                                         96    8.3          (2018)
22                                Maya Bazaar    8.2          (1957)
23                                  Natsamrat    8.2          (2016)
24                                 Drishyam 2    8.2          (2021)
25                                     Asuran    8.2          (2019)
26                                 Sita Ramam    8.2          (2022)
27                               Thevar Magan    8.2          (1992)
28                                 Visaaranai    8.2          (2015)
29                        Sarpatta Parambarai    8.2          (2021)
30                                 Thalapathi    8.2          (1991)
31                               Nadodikkattu    8.2          (1987)
32                            Pather Panchali    8.2          (1955)
33                                   Drishyam    8.2          (2013)
34                               Thani Oruvan    8.2          (2015)
35                         Jaane Bhi Do Yaaro    8.2          (1983)
36                               Vada Chennai    8.2          (2018)
37                                  Aparajito    8.2          (1956)
38                          Khosla Ka Ghosla!    8.2          (2006)
39                               Sardar Udham    8.2          (2021)
40                                    Anniyan    8.2          (2005)
41                                   Ratsasan    8.1          (2018)
42                              Chupke Chupke    8.1          (1975)
43                         Gangs of Wasseypur    8.1          (2012)
44                                   Drishyam    8.1          (2015)
45                                   Mahanati    8.1          (2018)
46                                    Peranbu    8.1          (2018)
47                             Bangalore Days    8.1          (2014)
48                                     Premam    8.1          (2015)
49                                      Satya    8.1          (1998)

# 4. Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [113]:
p_page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
p_page

In [120]:
soup = BeautifulSoup(p_page.content)
prez = []
for i in soup.find_all('div',class_="presidentListing"):
    prez.append(i.text)
prez

['\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n',
 '\nShri Pranab Mukherjee (1935-2020)\nTerm of Office: 25 July, 2012 to 25 July, 2017 \nhttp://pranabmukherjee.nic.in\n',
 '\nSmt Pratibha Devisingh Patil (birth - 1934)\nTerm of Office: 25 July, 2007 to 25 July, 2012 \nhttp://pratibhapatil.nic.in\n',
 '\nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of Office: 25 July, 2002 to 25 July, 2007 \nhttp://abdulkalam.nic.in\n',
 '\nShri K. R. Narayanan (1920 - 2005)\nTerm of Office: 25 July, 1997 to 25 July, 2002 \n',
 '\nDr Shankar Dayal Sharma (1918-1999)\nTerm of Office: 25 July, 1992 to 25 July, 1997 \n',
 '\nShri R Venkataraman (1910-2009)\nTerm of Office: 25 July, 1987 to 25 July, 1992 \n',
 '\nGiani Zail Singh (1916-1994)\nTerm of Office: 25 July, 1982 to 25 July, 1987 \n',
 '\nShri Neelam Sanjiva Reddy (1913-1996)\nTerm of Office: 25 July, 1977 to 25 July, 1982 \n',
 '\nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm of Office: 24 August, 1974 to 11 February, 1977\n',
 '\nShri Varahagiri Venkata Giri (1894-1980)\nTerm of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974\n',
 '\nDr. Zakir Husain (1897-1969)\nTerm of Office: 13 May, 1967 to 3 May, 1969\n',
 '\nDr. Sarvepalli Radhakrishnan (1888-1975)\nTerm of Office: 13 May, 1962 to 13 May, 1967\n',
 '\nDr. Rajendra Prasad (1884-1963) \nTerm of Office: 26 January, 1950 to 13 May, 1962\n']

In [139]:
president_name = []
for president in prez:
    split_prez = president.split("\n")
    pres_name = split_prez[1]
    president_name.append(pres_name)

print(president_name)

['Shri Ram Nath Kovind (birth - 1945)', 'Shri Pranab Mukherjee (1935-2020)', 'Smt Pratibha Devisingh Patil (birth - 1934)', 'DR. A.P.J. Abdul Kalam (1931-2015)', 'Shri K. R. Narayanan (1920 - 2005)', 'Dr Shankar Dayal Sharma (1918-1999)', 'Shri R Venkataraman (1910-2009)', 'Giani Zail Singh (1916-1994)', 'Shri Neelam Sanjiva Reddy (1913-1996)', 'Dr. Fakhruddin Ali Ahmed (1905-1977)', 'Shri Varahagiri Venkata Giri (1894-1980)', 'Dr. Zakir Husain (1897-1969)', 'Dr. Sarvepalli Radhakrishnan (1888-1975)', 'Dr. Rajendra Prasad (1884-1963) ']

In [146]:
names1 = []
for item in president_name:
#     start_index = item.find(" ") + 1  # find the index of the space after the honorific/title
    end_index = item.find("(") - 1  # find the index of the opening bracket
    name1 = item[:end_index]  # extract the name
    names1.append(name1)  # add the name to the list
print(names1)

['Shri Ram Nath Kovind', 'Shri Pranab Mukherjee', 'Smt Pratibha Devisingh Patil', 'DR. A.P.J. Abdul Kalam', 'Shri K. R. Narayanan', 'Dr Shankar Dayal Sharma', 'Shri R Venkataraman', 'Giani Zail Singh', 'Shri Neelam Sanjiva Reddy', 'Dr. Fakhruddin Ali Ahmed', 'Shri Varahagiri Venkata Giri', 'Dr. Zakir Husain', 'Dr. Sarvepalli Radhakrishnan', 'Dr. Rajendra Prasad']

In [140]:
term = []
for president in prez:
    split_prez = president.split("\n")
    pres_name = split_prez[2]
    term.append(pres_name)

term

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [141]:
terms = [s.replace('Term of Office: ', '') for s in term]
print(terms)

['25 July, 2017 to 25 July, 2022 ', '25 July, 2012 to 25 July, 2017 ', '25 July, 2007 to 25 July, 2012 ', '25 July, 2002 to 25 July, 2007 ', '25 July, 1997 to 25 July, 2002 ', '25 July, 1992 to 25 July, 1997 ', '25 July, 1987 to 25 July, 1992 ', '25 July, 1982 to 25 July, 1987 ', '25 July, 1977 to 25 July, 1982 ', '24 August, 1974 to 11 February, 1977', '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974', '13 May, 1967 to 3 May, 1969', '13 May, 1962 to 13 May, 1967', '26 January, 1950 to 13 May, 1962']

In [147]:
df3 = pd.DataFrame({'President Name':names1,'Term of Office':terms})
df3

,President Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [148]:
icc_page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
icc_page

In [158]:
soup = BeautifulSoup(icc_page.content)
team = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

team
teams = team[:10]
teams

['Australia',
 'New Zealand',
 'India',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [405]:
soup = BeautifulSoup(icc_page.content)
m1 = []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    m1.append(i.text)

m1

['35']

In [155]:
soup = BeautifulSoup(icc_page.content)
p1 = []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    p1.append(i.text)

p1

['3,965']

In [156]:
soup = BeautifulSoup(icc_page.content)
r1 = []
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    r1.append(i.text)

r1

['\n                            113\n                            \n\n']

In [172]:
r_1 = []
for rating in r1:
    split_r = rating.split("\n")
    rate = split_r[1]
    r_1.append(rate)

r_1 = [elem.strip() for elem in r_1]
r_1

['113']

In [166]:
soup = BeautifulSoup(icc_page.content)
m2 = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    m2.append(i.text)

m2
m3 = m2[:18]
m3

['31',
 '3,504',
 '47',
 '5,294',
 '36',
 '3,988',
 '25',
 '2,649',
 '31',
 '3,141',
 '38',
 '3,625',
 '36',
 '3,099',
 '43',
 '3,105',
 '20',
 '1,419']

In [167]:
m4 = [m3[i] for i in range(len(m3)) if i % 2 == 0]
m4

['31', '47', '36', '25', '31', '38', '36', '43', '20']

In [174]:
m5 = m1 + m4
m5

['35', '31', '47', '36', '25', '31', '38', '36', '43', '20']

In [177]:
p2 = [m3[i] for i in range(len(m3)) if i % 2 == 1]
p2

['3,504',
 '5,294',
 '3,988',
 '2,649',
 '3,141',
 '3,625',
 '3,099',
 '3,105',
 '1,419']

In [178]:
p3 = p1 + p2
p3

['3,965',
 '3,504',
 '5,294',
 '3,988',
 '2,649',
 '3,141',
 '3,625',
 '3,099',
 '3,105',
 '1,419']

In [170]:
soup = BeautifulSoup(icc_page.content)
r_2 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    r_2.append(i.text)

r_2
r_3 = r_2[:9]
r_3

['113', '113', '111', '106', '101', '95', '86', '72', '71']

In [173]:
r_4 = r_1 + r_3
r_4

['113', '113', '113', '111', '106', '101', '95', '86', '72', '71']

In [180]:
df4 = pd.DataFrame({'TEAM':teams,'MATCHES':m5,'POINTS':p3,'RATING':r_4})
df4

           TEAM MATCHES POINTS RATING
0     Australia      35  3,965    113
1   New Zealand      31  3,504    113
2         India      47  5,294    113
3       England      36  3,988    111
4      Pakistan      25  2,649    106
5  South Africa      31  3,141    101
6    Bangladesh      38  3,625     95
7     Sri Lanka      36  3,099     86
8   West Indies      43  3,105     72
9   Afghanistan      20  1,419     71

# 5.
b)Top 10 ODI Batsmen along with the records of their team andrating.

In [200]:
icc_batsman = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
icc_batsman

In [225]:
soup = BeautifulSoup(icc_batsman.content)
p_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    p_name.append(i.text)

p_name
p_name11 = p_name[:1]
p_name11

['Babar Azam']

In [216]:
soup = BeautifulSoup(icc_batsman.content)
p_country = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    p_country.append(i.text)

p_country
p_countrys = p_country[:1]
nation = p_countrys[0].strip().split()[0]
nation

'PAK'

In [217]:
p_rating = p_countrys[0].strip().split()[1]
p_rating

'887'

In [220]:
soup = BeautifulSoup(icc_batsman.content)
p_name1 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    p_name1.append(i.text)

p_name1
p_name2 = p_name1[:9]
p_name2

['\nRassie van der Dussen\n',
 '\nImam-ul-Haq\n',
 '\nShubman Gill\n',
 '\nDavid Warner\n',
 '\nVirat Kohli\n',
 '\nQuinton de Kock\n',
 '\nRohit Sharma\n',
 '\nSteve Smith\n',
 '\nFakhar Zaman\n']

In [221]:
p_name3 = []
for players in p_name2:
    split_p_name2 = players.split("\n")
    players_name = split_p_name2[1]
    p_name3.append(players_name)

print(p_name3)

['Rassie van der Dussen', 'Imam-ul-Haq', 'Shubman Gill', 'David Warner', 'Virat Kohli', 'Quinton de Kock', 'Rohit Sharma', 'Steve Smith', 'Fakhar Zaman']

In [226]:
players = p_name11 + p_name3
players

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman']

In [241]:
soup = BeautifulSoup(icc_batsman.content)
country = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    country.append(i.text)

country
p_country = country[:9]
p_country

['SA', 'PAK', 'IND', 'AUS', 'IND', 'SA', 'IND', 'AUS', 'PAK']

In [242]:
p_country.insert(0, 'PAK')
print(p_country)

['PAK', 'SA', 'PAK', 'IND', 'AUS', 'IND', 'SA', 'IND', 'AUS', 'PAK']

In [245]:
soup = BeautifulSoup(icc_batsman.content)
rating21 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating21.append(i.text)

rating21
rating22 = rating21[:9]
rating22

['777', '740', '738', '726', '719', '718', '707', '702', '699']

In [246]:
rating22.insert(0, '887')
print(rating22)

['887', '777', '740', '738', '726', '719', '718', '707', '702', '699']

In [248]:
df5 = pd.DataFrame({'PLAYER':players,'TEAM':p_country,'RATING':rating22})
df5

                  PLAYER TEAM RATING
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    777
2            Imam-ul-Haq  PAK    740
3           Shubman Gill  IND    738
4           David Warner  AUS    726
5            Virat Kohli  IND    719
6        Quinton de Kock   SA    718
7           Rohit Sharma  IND    707
8            Steve Smith  AUS    702
9           Fakhar Zaman  PAK    699

# 5.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [249]:
soup = BeautifulSoup(icc_batsman.content)
p_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    p_name.append(i.text)

p_name
p_name22 = p_name[1:2]
p_name22

['Josh Hazlewood']

In [ ]:
soup = BeautifulSoup(icc_batsman.content)
p_country1 = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    p_country1.append(i.text)

p_country1
p_country2 = p_country1[1:2]
p_country2
p_country3 = p_country2[0].strip().split()[0]
p_country3

In [263]:
p_rating2 = p_country2[0].strip().split()[1]
p_rating2

'705'

In [269]:
soup = BeautifulSoup(icc_batsman.content)
p_name23 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    p_name23.append(i.text)

p_name23
p_name24 = p_name23[9:18]
p_name24

['\nTrent Boult\n',
 '\nMohammed Siraj\n',
 '\nMitchell Starc\n',
 '\nMatt Henry\n',
 '\nRashid Khan\n',
 '\nAdam Zampa\n',
 '\nShaheen Afridi\n',
 '\nMujeeb Ur Rahman\n',
 '\nShakib Al Hasan\n']

In [276]:
p_name25 = []
for players in p_name24:
    split_p_name24 = players.split("\n")
    players_name = split_p_name24[1]
    p_name25.append(players_name)

print(p_name25)

['Trent Boult', 'Mohammed Siraj', 'Mitchell Starc', 'Matt Henry', 'Rashid Khan', 'Adam Zampa', 'Shaheen Afridi', 'Mujeeb Ur Rahman', 'Shakib Al Hasan']

In [277]:
p_name26 = p_name22 + p_name25
p_name26

['Josh Hazlewood',
 'Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan']

In [270]:
country
p_country24 = country[9:18]
p_country24

['NZ', 'IND', 'AUS', 'NZ', 'AFG', 'AUS', 'PAK', 'AFG', 'BAN']

In [278]:
p_country24.insert(0, 'AUS')
print(p_country24)

['AUS', 'NZ', 'IND', 'AUS', 'NZ', 'AFG', 'AUS', 'PAK', 'AFG', 'BAN']

In [282]:
rating21
rating24 = rating21[9:18]
rating24

['694', '691', '686', '676', '659', '652', '641', '637', '636']

In [283]:
rating24.insert(0, '705')
print(rating24)

['705', '694', '691', '686', '676', '659', '652', '641', '637', '636']

In [284]:
df6 = pd.DataFrame({'PLAYER':p_name26,'TEAM':p_country24,'RATING':rating24})
df6

             PLAYER TEAM RATING
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    694
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4        Matt Henry   NZ    676
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7    Shaheen Afridi  PAK    641
8  Mujeeb Ur Rahman  AFG    637
9   Shakib Al Hasan  BAN    636

# 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [285]:
women_page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
women_page

In [287]:
soup = BeautifulSoup(women_page.content)
w_team = []
for i in soup.find_all('span',class_="u-hide-phablet"):
    w_team.append(i.text)

w_team
w_team1 = w_team[:10]
w_team1

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [288]:
soup = BeautifulSoup(women_page.content)
w_m1 = []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    w_m1.append(i.text)

w_m1

['21']

In [292]:
soup = BeautifulSoup(women_page.content)
w_p1 = []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    w_p1.append(i.text)

w_p1

['3,603']

In [291]:
soup = BeautifulSoup(women_page.content)
w_m2 = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    w_m2.append(i.text)

w_m2
w_m3 = w_m2[:18]
w_m3

['28',
 '3,342',
 '26',
 '3,098',
 '27',
 '2,820',
 '25',
 '2,553',
 '27',
 '2,535',
 '13',
 '983',
 '11',
 '821',
 '27',
 '1,678',
 '8',
 '353']

In [293]:
w_m4 = [w_m3[i] for i in range(len(w_m3)) if i % 2 == 0]
w_m4

['28', '26', '27', '25', '27', '13', '11', '27', '8']

In [294]:
w_m5 = w_m1 + w_m4
w_m5

['21', '28', '26', '27', '25', '27', '13', '11', '27', '8']

In [295]:
w_p2 = [w_m3[i] for i in range(len(w_m3)) if i % 2 == 1]
w_p2

['3,342', '3,098', '2,820', '2,553', '2,535', '983', '821', '1,678', '353']

In [296]:
w_p3 = w_p1 + w_p2
w_p3

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '821',
 '1,678',
 '353']

In [304]:
soup = BeautifulSoup(women_page.content)
w_r1 = []
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    w_r1.append(i.text)

w_r1

['\n                            172\n                            \n\n']

In [305]:
w_r2 = []
for ratings in w_r1:
    split_w_r1 = ratings.split("\n")
    rate = split_w_r1[1]
    w_r2.append(rate)

w_r2 = [elem.strip() for elem in w_r2]
w_r2

['172']

In [306]:
soup = BeautifulSoup(women_page.content)
w_r3 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    w_r3.append(i.text)

w_r3
w_r4 = w_r3[:9]
w_r4

['119', '119', '104', '102', '94', '76', '75', '62', '44']

In [311]:
w_r5 = w_r2 + w_r4
w_r5

['172', '119', '119', '104', '102', '94', '76', '75', '62', '44']

In [312]:
df7 = pd.DataFrame({'TEAM':w_team1,'MATCHES':w_m5,'POINTS':w_p3,'RATING':w_r5})
df7

           TEAM MATCHES POINTS RATING
0     Australia      21  3,603    172
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand      11    821     75
8      Pakistan      27  1,678     62
9     Sri Lanka       8    353     44

# 6.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [320]:
batswomen_page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
batswomen_page

In [321]:
soup = BeautifulSoup(batswomen_page.content)
wp_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    wp_name.append(i.text)

wp_name
wp_name11 = wp_name[:1]
wp_name11

['Alyssa Healy']

In [322]:
soup = BeautifulSoup(batswomen_page.content)
wp_name1 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    wp_name1.append(i.text)

wp_name1
wp_name2 = wp_name1[:9]
wp_name2

['\nBeth Mooney\n',
 '\nLaura Wolvaardt\n',
 '\nNatalie Sciver\n',
 '\nMeg Lanning\n',
 '\nHarmanpreet Kaur\n',
 '\nSmriti Mandhana\n',
 '\nChamari Athapaththu\n',
 '\nAmy Satterthwaite\n',
 '\nEllyse Perry\n']

In [323]:
wp_name3 = []
for players in wp_name2:
    split_wp_name2 = players.split("\n")
    players_name = split_wp_name2[1]
    wp_name3.append(players_name)

print(wp_name3)

['Beth Mooney', 'Laura Wolvaardt', 'Natalie Sciver', 'Meg Lanning', 'Harmanpreet Kaur', 'Smriti Mandhana', 'Chamari Athapaththu', 'Amy Satterthwaite', 'Ellyse Perry']

In [325]:
wp_name4 = wp_name11 + wp_name3
wp_name4

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Chamari Athapaththu',
 'Amy Satterthwaite',
 'Ellyse Perry']

In [326]:
wp_country = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    wp_country.append(i.text)

wp_country
wp_countrys = wp_country[:1]
w_nation = wp_countrys[0].strip().split()[0]
w_nation

'AUS'

In [327]:
wp_rating = wp_countrys[0].strip().split()[1]
wp_rating

'762'

In [328]:
w_country = []
for i in soup.find_all('span',class_="table-body__logo-text"):
    w_country.append(i.text)

w_country
wp_country = w_country[:9]
wp_country

['AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'SL', 'NZ', 'AUS']

In [329]:
wp_country.insert(0, 'AUS')
print(wp_country)

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'SL', 'NZ', 'AUS']

In [330]:
w_rating21 = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    w_rating21.append(i.text)

w_rating21
w_rating22 = w_rating21[:9]
w_rating22

['754', '732', '731', '717', '716', '714', '655', '641', '626']

In [331]:
w_rating22.insert(0, '762')
print(w_rating22)

['762', '754', '732', '731', '717', '716', '714', '655', '641', '626']

In [332]:
df8 = pd.DataFrame({'PLAYER':wp_name4,'TEAM':wp_country,'RATING':w_rating22})
df8

                PLAYER TEAM RATING
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7  Chamari Athapaththu   SL    655
8    Amy Satterthwaite   NZ    641
9         Ellyse Perry  AUS    626

# 6.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [337]:
soup = BeautifulSoup(batswomen_page.content)
wp_name = []
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    wp_name.append(i.text)

wp_name
wp_name11 = wp_name[2:]
wp_name11

['Hayley Matthews']

In [338]:
wp_country1 = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    wp_country1.append(i.text)

wp_country1
wp_country2 = wp_country1[2:]
wp_country2
wp_country3 = wp_country2[0].strip().split()[0]
wp_country3

'WI'

In [339]:
wp_rating2 = wp_country2[0].strip().split()[1]
wp_rating2

'373'

In [340]:
wp_name23 = []
for i in soup.find_all('td',class_="table-body__cell name"):
    wp_name23.append(i.text)

wp_name23
wp_name24 = wp_name23[18:27]
wp_name24

['\nNatalie Sciver\n',
 '\nEllyse Perry\n',
 '\nMarizanne Kapp\n',
 '\nAmelia Kerr\n',
 '\nDeepti Sharma\n',
 '\nAshleigh Gardner\n',
 '\nJess Jonassen\n',
 '\nNida Dar\n',
 '\nSophie Ecclestone\n']

In [341]:
wp_name25 = []
for players in wp_name24:
    split_wp_name24 = players.split("\n")
    players_name = split_wp_name24[1]
    wp_name25.append(players_name)

print(wp_name25)

['Natalie Sciver', 'Ellyse Perry', 'Marizanne Kapp', 'Amelia Kerr', 'Deepti Sharma', 'Ashleigh Gardner', 'Jess Jonassen', 'Nida Dar', 'Sophie Ecclestone']

In [343]:
wp_name26 = wp_name11 + wp_name25
wp_name26

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Sophie Ecclestone']

In [344]:
w_country
wp_country24 = w_country[18:27]
wp_country24

['ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'ENG']

In [346]:
wp_country24.insert(0, 'AUS')
print(wp_country24)

['AUS', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'ENG']

In [347]:
w_rating21
w_rating24 = w_rating21[18:27]
w_rating24

['371', '366', '349', '336', '322', '292', '250', '232', '205']

In [349]:
w_rating24.insert(0, '373')
print(w_rating24)

['373', '371', '366', '349', '336', '322', '292', '250', '232', '205']

In [350]:
df9 = pd.DataFrame({'PLAYER':wp_name26,'TEAM':wp_country24,'RATING':w_rating24})
df9

              PLAYER TEAM RATING
0    Hayley Matthews  AUS    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

# 7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

i) Headline
ii) Time
iii) News Link

In [351]:
cnbc_page = requests.get('https://www.cnbc.com/world/?region=world')
cnbc_page

In [354]:
soup = BeautifulSoup(cnbc_page.content)
headline = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)

headline

['Treasury yields fall as investors mull over key economic data',
 "China's top leaders say the economy doesn't have enough 'internal' drive",
 'Russia launches missile attacks on several Ukrainian cities; air raid sirens sound in Kyiv',
 'Sony posts record annual profit boosted by chips and all-time high PlayStation 5 sales ',
 "China's A.I. chatbots haven't yet reached the public like ChatGPT did",
 'European stock markets dip as investors digest earnings, GDP data; NatWest down 6%',
 "IMF warns of 'disorderly' house price corrections in Europe as interest rates move higher",
 'CNBC Daily Open: Markets had their best day in three months',
 "Microsoft's big bet on cloud gaming is what tripped up Activision takeover",
 'Wall Street predicted a big surge for oil this year. But prices are now lower',
 'Obesity drug industry could be worth $200 billion in next decade, Barclays says',
 'Swiss National Bank to face Credit Suisse and climate protests at fraught AGM',
 'Bank of Japan sticks to negative rates while announcing policy review',
 "China's SMIC will 'struggle' to make cutting-edge chips competitively",
 "China just called Ukraine. The timing wasn't accidental, analysts say",
 "This weight-loss drug maker's stock is up 20% this year — and Barclays sees it going higher",
 'Goldman and Morgan Stanley say these chip stocks have more upside ahead of them',
 'CNBC Daily Open: Markets had their best day in months',
 'Amazon must do more to rein in costs to grow in 2023 ',
 'Asia markets rise as Japan keeps monetary policy unchanged, yen weakens',
 "Thursday's rally showed the power of stock picking, Jim Cramer says",
 'Stock futures fall slightly as investors digest Amazon, Intel earnings ',
 'Stocks making the biggest moves after hours: Amazon, Intel, Snap, Pinterest and more',
 'Cloudflare stock plunges more than 20% after revising guidance down',
 "Meta pops on 1Q earnings results and guidance. Here's how the pros are playing it",
 "Amazon's 18% cloud revenue growth impresses even as margin narrows",
 'Snap plunges on first-quarter revenue miss',
 'Intel reports largest quarterly loss in company history',
 'Here’s a full recap of CNBC’s 2023 Stock Draft',
 "Powell duped by Russian pranksters claiming to be Ukraine's Volodymyr Zelenskyy"]

In [359]:
soup = BeautifulSoup(cnbc_page.content)
time = []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)

time

['21 Min Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago']

In [357]:
soup = BeautifulSoup(cnbc_page.content)
news_link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    news_link.append(i.get('href'))

news_link

['https://www.cnbc.com/2023/04/28/us-treasury-yields-investors-mull-over-key-gdp-inflation-data.html',
 'https://www.cnbc.com/2023/04/28/chinas-top-leaders-say-the-economy-doesnt-have-enough-internal-drive.html',
 'https://www.cnbc.com/2023/04/28/ukraine-war-live-updates-latest-news-on-russia-and-the-war-in-ukraine.html',
 'https://www.cnbc.com/2023/04/28/sony-earnings-playstation-5-sales-hit-all-time-high-profit-hits-record.html',
 'https://www.cnbc.com/2023/04/28/how-chinas-chatgpt-ai-alternatives-are-doing.html',
 'https://www.cnbc.com/2023/04/28/european-markets-open-to-close-earnings-data-and-news.html',
 'https://www.cnbc.com/2023/04/28/imf-warns-of-disorderly-house-price-corrections-in-europe-amid-high-rates.html',
 'https://www.cnbc.com/2023/04/28/stock-markets-markets-had-their-best-day-in-three-months.html',
 'https://www.cnbc.com/2023/04/28/microsofts-big-bet-on-cloud-gaming-is-what-tripped-up-activision-deal.html',
 'https://www.cnbc.com/2023/04/28/wall-street-predicted-a-big-surge-for-oil-this-year-but-prices-are-now-lower.html',
 'https://www.cnbc.com/2023/04/28/obesity-drugs-to-be-worth-200-billion-in-next-10-years-barclays-says.html',
 'https://www.cnbc.com/2023/04/28/swiss-national-bank-to-face-credit-suisse-and-climate-protests-at-fraught-agm.html',
 'https://www.cnbc.com/2023/04/28/bank-of-japan-policy-decision-kazuo-ueda-first-meeting.html',
 'https://www.cnbc.com/2023/04/28/chinas-smic-may-struggle-to-make-cutting-edge-chips-competitively.html',
 'https://www.cnbc.com/2023/04/28/why-did-china-just-call-ukraine-analysts-share-their-theories.html',
 'https://www.cnbc.com/2023/04/28/this-weight-loss-drug-makers-stock-is-up-20percent-this-year-and-barclays-sees-it-going-higher.html',
 'https://www.cnbc.com/2023/04/28/semiconductor-goldman-morgan-stanley-name-chip-stocks-with-upside.html',
 'https://www.cnbc.com/2023/04/28/stock-markets-markets-had-their-best-day-in-months.html',
 'https://www.cnbc.com/2023/04/27/amazon-must-do-more-to-rein-in-costs-to-keep-growing-in-2023-.html',
 'https://www.cnbc.com/2023/04/28/asia-markets-to-rise-as-wall-street-rallies-investors-look-ahead-to-bank-of-japan-policy-meeting.html',
 'https://www.cnbc.com/2023/04/27/thursdays-rally-showed-the-power-of-stock-picking-jim-cramer-says.html',
 'https://www.cnbc.com/2023/04/27/stock-market-today-live-updates.html',
 'https://www.cnbc.com/2023/04/27/stocks-making-the-biggest-moves-after-hours-amazon-intel-snap-pinterest-and-more.html',
 'https://www.cnbc.com/2023/04/27/cloudflare-net-q1-earnings-report.html',
 'https://www.cnbc.com/2023/04/27/meta-pops-on-guidance-heres-how-the-pros-are-playing-it.html',
 'https://www.cnbc.com/2023/04/27/aws-q1-earnings-report-2023.html',
 'https://www.cnbc.com/2023/04/27/snap-q1-earnings-report-2023.html',
 'https://www.cnbc.com/2023/04/27/intel-intc-earnings-report-q1-2023.html',
 'https://www.cnbc.com/2023/04/27/cnbcs-2023-stock-draft-recap-flair-likes-nvidia-mosley-picks-pg.html',
 'https://www.cnbc.com/2023/04/27/powell-duped-by-russian-pranksters-claiming-to-be-ukraines-zelenskyy-.html']

In [358]:
df10 = pd.DataFrame({'HEADLINE':headline,'TIME':time,'NEWS LINK':news_link})
df10

,HEADLINE,TIME,NEWS LINK
0,Treasury yields fall as investors mull over ke...,21 Min Ago,https://www.cnbc.com/2023/04/28/us-treasury-yi...
1,China's top leaders say the economy doesn't ha...,1 Hour Ago,https://www.cnbc.com/2023/04/28/chinas-top-lea...
2,Russia launches missile attacks on several Ukr...,2 Hours Ago,https://www.cnbc.com/2023/04/28/ukraine-war-li...
3,Sony posts record annual profit boosted by chi...,2 Hours Ago,https://www.cnbc.com/2023/04/28/sony-earnings-...
4,China's A.I. chatbots haven't yet reached the ...,2 Hours Ago,https://www.cnbc.com/2023/04/28/how-chinas-cha...
5,European stock markets dip as investors digest...,3 Hours Ago,https://www.cnbc.com/2023/04/28/european-marke...
6,IMF warns of 'disorderly' house price correcti...,3 Hours Ago,https://www.cnbc.com/2023/04/28/imf-warns-of-d...
7,CNBC Daily Open: Markets had their best day in...,3 Hours Ago,https://www.cnbc.com/2023/04/28/stock-markets-...
8,Microsoft's big bet on cloud gaming is what tr...,4 Hours Ago,https://www.cnbc.com/2023/04/28/microsofts-big...
9,Wall Street predicted a big surge for oil this...,4 Hours Ago,https://www.cnbc.com/2023/04/28/wall-street-pr...
10,Obesity drug industry could be worth $200 bill...,4 Hours Ago,https://www.cnbc.com/2023/04/28/obesity-drugs-...
11,Swiss National Bank to face Credit Suisse and ...,4 Hours Ago,https://www.cnbc.com/2023/04/28/swiss-national...
12,Bank of Japan sticks to negative rates while a...,5 Hours Ago,https://www.cnbc.com/2023/04/28/bank-of-japan-...
13,China's SMIC will 'struggle' to make cutting-e...,7 Hours Ago,https://www.cnbc.com/2023/04/28/chinas-smic-ma...
14,China just called Ukraine. The timing wasn't a...,8 Hours Ago,https://www.cnbc.com/2023/04/28/why-did-china-...
15,This weight-loss drug maker's stock is up 20% ...,8 Hours Ago,https://www.cnbc.com/2023/04/28/this-weight-lo...
16,Goldman and Morgan Stanley say these chip stoc...,8 Hours Ago,https://www.cnbc.com/2023/04/28/semiconductor-...
17,CNBC Daily Open: Markets had their best day in...,9 Hours Ago,https://www.cnbc.com/2023/04/28/stock-markets-...
18,Amazon must do more to rein in costs to grow i...,9 Hours Ago,https://www.cnbc.com/2023/04/27/amazon-must-do...
19,Asia markets rise as Japan keeps monetary poli...,9 Hours Ago,https://www.cnbc.com/2023/04/28/asia-markets-t...
20,Thursday's rally showed the power of stock pic...,10 Hours Ago,https://www.cnbc.com/2023/04/27/thursdays-rall...
21,Stock futures fall slightly as investors diges...,11 Hours Ago,https://www.cnbc.com/2023/04/27/stock-market-t...
22,Stocks making the biggest moves after hours: A...,12 Hours Ago,https://www.cnbc.com/2023/04/27/stocks-making-...
23,Cloudflare stock plunges more than 20% after r...,12 Hours Ago,https://www.cnbc.com/2023/04/27/cloudflare-net...
24,Meta pops on 1Q earnings results and guidance....,12 Hours Ago,https://www.cnbc.com/2023/04/27/meta-pops-on-g...
25,Amazon's 18% cloud revenue growth impresses ev...,13 Hours Ago,https://www.cnbc.com/2023/04/27/aws-q1-earning...
26,Snap plunges on first-quarter revenue miss,13 Hours Ago,https://www.cnbc.com/2023/04/27/snap-q1-earnin...
27,Intel reports largest quarterly loss in compan...,13 Hours Ago,https://www.cnbc.com/2023/04/27/intel-intc-ear...
28,Here’s a full recap of CNBC’s 2023 Stock Draft,13 Hours Ago,https://www.cnbc.com/2023/04/27/cnbcs-2023-sto...
29,Powell duped by Russian pranksters claiming to...,13 Hours Ago,https://www.cnbc.com/2023/04/27/powell-duped-b...

# 8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame

i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [360]:
ai_page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
ai_page

In [361]:
soup = BeautifulSoup(ai_page.content)
title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [362]:
authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)

authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [363]:
date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)

date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [364]:
url = []
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    url.append(i.get('href'))

url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [366]:
df11 = pd.DataFrame({'PAPER TITLE':title,'AUTHORS':authors,'PUBLISHED DATE':date,'PAPER URL':url})
df11

,PAPER TITLE,AUTHORS,PUBLISHED DATE,PAPER URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9. Write a python program to scrape mentioned details from dineout.co.in and make data frame

i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [367]:
dine_page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
dine_page

In [368]:
soup = BeautifulSoup(dine_page.content)
r_name = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    r_name.append(i.text)

r_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [374]:
cuisine = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text)

cuisine

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,680 for 2 (approx) | North Indian, Asian, Italian',
 '₹ 3,000 for 2 (approx) | Italian, Continental',
 '₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,700 for 2 (approx) | North Indian, Chinese',
 '₹ 2,400 for 2 (approx) | North Indian, Italian',
 '₹ 1,800 for 2 (approx) | North Indian',
 '₹ 1,900 for 2 (approx) | North Indian',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai']

In [381]:
cuisine1 = [s.split("|")[1].strip() for s in cuisine]
cuisine1

['Chinese, North Indian',
 'North Indian, Asian, Italian',
 'Italian, Continental',
 'Chinese, North Indian',
 'North Indian, Chinese',
 'North Indian, Italian',
 'North Indian',
 'North Indian',
 'North Indian, Mughlai']

In [372]:
location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [382]:
rating01 = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating01.append(i.text)

rating01

['4', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [384]:
image = []
for i in soup.find_all('img',class_="no-img"):
    image.append(i.get('data-src'))

image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [385]:
df12 = pd.DataFrame({'Restaurant name':r_name,'Cuisine':cuisine1,'Location':location,'Rating':rating01,'Image URL':image})
df12

,Restaurant name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...